body {
    font-family: sans-serif;
    margin-top: 60px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

 .container
  {
    max-width: 800px;
    margin: 0 auto;
    color: #2d2d2d;
    padding-left: 60px;
    font-family: sans-serif
}
 .footer
  {
    max-width: 800px;
    margin: 0 auto;
    color: #2d2d2d;
    padding-left: 60px;
    font-family: sans-serif
}
   
        