body {
    font-family: sans-serif;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

 .container
  {
    max-width: 800px;
    margin: 0 auto;
    color: #2d2d2d;
    padding-left: 60px;
    font-family: sans-serif
}
 .footer
  {
    max-width: 800px;
    margin: 0 auto;
    color: #2d2d2d;
    padding-left: 60px;
    font-family: sans-serif
}
#header
{
    width:100%;
    height:80px;
    margin: 0 auto;
    background-color:#334467;
}
.headertext
{
    color:white;
    padding-left:30px;
    padding-top:25px;
}
